 
.banner-bottom
    div
        h3 Поможем в выборе
        p Не нашли нужного специалиста? Оставьте заявку на подбор специалиста и наш менеджер свяжется с Вами 
        a(href="#").btn.btn_grey.btn_onblack Оставить заявку