.container.categories__container
    ul.categories__line.-flex.-justify-between.-center
        li
            a(href="/").active Все специалисты
        li
            a(href="/") Аналитики
        li
            a(href="/") Дизайнеры
        li
            a(href="/") Разработчики
        li
            a(href="/") Руководители проектов
        li
            a(href="/") Тестировщики
