header.header
    .container.-flex.-justify-between.-center
        .header__left.-flex.-center
            .toggle-menu
                span
            .logo.-flex.-center
                a(href="/")
                    img(src="/assets/img/logo.svg", alt="")
                .header__address
                    span г. Уфа, ул. Менделеева 152/4
                    a(href="city.html") выбрать город
        .header__right.-flex
            .socials.-flex
                a(href="#") 
                    img(src="/assets/img/socials/vk.svg", alt="")
                a(href="#") 
                    img(src="/assets/img/socials/inst.svg", alt="")
                a(href="#") 
                    img(src="/assets/img/socials/tg.svg", alt="")
                a(href="#") 
                    img(src="/assets/img/socials/whatsapp.svg", alt="")
            .header__contact
                a.phone(href="tel:89917773269") 8 (991) 777-32-69
                a.call-back(href="#",data-remodal-target="call-back") заявка на консультацию
nav
    .container.-flex.-justify-between.-center
        ul.-flex.-justify-between
            li
                a(href="") Сайты для зрелого бизнеса
            li
                a(href="/tilda.html") Сайты на Тильде
            li
                a(href="#") Бизнес-презентации 
            li
                a(href="#") Разработка ПО
            li
                a(href="#") Whatsapp-боты
            li
                a(href="#") Наша гордость
            li
                a(href="/contacts") Контакты
.second-menu
    .container
        ul
            li 
                a(href="#") Главная
            li 
                a.active(href="#") Услуги
                ul 
                    li.active
                        a(href="#") Создание профессиональных сайтов
                    li 
                        a(href="#") Создание сайтов на Тильде
                    li 
                        a(href="#") Создание КП и презентаций
                    li 
                        a(href="#") Внедрение AmoCRM
                    li 
                        a(href="#") Разработка программ
                    li 
                        a(href="#") Создание чат-ботов
            li 
                a(href="#") Контакты