.collab
    .container
        .title Впечатления о сотрудничестве
        .collab-slider.slider
                div 
                    .collab__item.collab__item__blue.-flex
                        .collab__item__content
                            p Одна из главных ценностей, что на протяжении всего проекта с тобой общается отдельный менеджер, который со временем становится как друг
                            .collab__name Иван Иванов
                                    span Энергосервис
                            a.see-video(href="#") Смотреть видео
                            .collab__item__man-1
                div 
                    .collab__item.collab__item__blue.-flex
                        .collab__item__content
                            p Одна из главных ценностей, что на протяжении всего проекта с тобой общается отдельный менеджер, который со временем становится как друг
                            .collab__name Иван Иванов
                                    span Энергосервис
                            a.see-video(href="#") Смотреть видео
                            .collab__item__man-1